/* all withing the "nav bar" or header portion of portfolio */
#nameTitle{
    text-align: center;
    
}
.bioContact{
    text-align: center;
}
.imageIcon{
    text-align: center;

}
.header{
    background-color: antiquewhite;
}
.logo{
    margin: 5px;
}