/* all withing the "nav bar" or header portion of portfolio */
#nameTitle{
    text-align: center;
    
}
.bioContact{
    text-align: center;
}
.imageIcon{
    text-align: center;

}
.header{
    background-color: antiquewhite;
}
.logo{
    margin: 5px;
}

/* body containing the cards and links */
.cardBody{
    background-color: antiquewhite;
    margin-top: 10px;
}

/* Resume page */
#resumeTitle{
    text-align: center;
}
#resName{
    text-align: center;
}
.resInfo{
    text-align: center;
}